BODY {
	FONT-FAMILY:"Palatino Linotype","Book Antiqua",Palatino,serif;
	BACKGROUND:#666;
	COLOR:#222;
	FONT-SIZE:14px;
}
IMG {
	BORDER:none;
}
#container {
	Z-INDEX:10000;
	POSITION:absolute;
	BACKGROUND-COLOR:#666;
	WIDTH:100%;
	DISPLAY:block;
	TOP:0px;
	LEFT:0px
}
#header {
	BORDER-BOTTOM:#0a3052 2px solid;
	PADDING:1.5em 0px 0px;
	MARGIN:0px auto;
	WIDTH:822px;
	DISPLAY:block;
	BACKGROUND:#1878cf;
	COLOR:#eee;
}
DIV.title {
	PADDING:0px 2em;
	MARGIN-BOTTOM:0.5em;
	CLEAR:both;
	FONT-SIZE:26px;
}
#header A {
	PADDING-RIGHT:5px;
	COLOR:rgb(222,235,247);
	FONT-SIZE:85%
}
.nav {
	PADDING:0px 2em 0.5em;
	BACKGROUND:#125a9c;
	BORDER-TOP:#1267b8 2px solid;
}
#content {
	BORDER-BOTTOM:#999 2px solid;
	TEXT-ALIGN:left;
	PADDING:2em;
	BACKGROUND-COLOR:#fff;
	MARGIN:0em auto;
	WIDTH:766px;
}
#content IMG {
	VERTICAL-ALIGN:top
}
#content A {
	COLOR:blue;
	TEXT-DECORATION:underline
}
#content A:visited {
	COLOR:gray
}
#content * {
	BORDER:none;
	MARGIN-BOTTOM:16px;
	BACKGROUND:none transparent scroll repeat 0% 0%;
}
#content H1 {
	BORDER-BOTTOM:#333 1px solid;
	WIDTH:100%;
	DISPLAY:block;
	FONT-SIZE:1.2em
}
#content BLOCKQUOTE {
	BORDER:#dfdfdf 1px solid;
	PADDING:2em;
	BACKGROUND:#ffffe8;
	COLOR:#666;
	MARGIN-LEFT:3em;
	MARGIN-RIGHT:3em;
}
#content PRE {
	FONT-SIZE:85%
}
#content CODE {
	FONT-SIZE:85%
}
#footer {
	BORDER-BOTTOM:#0a3052 4px solid;
	TEXT-ALIGN:center;
	PADDING:1em 2em;
	LINE-HEIGHT:1.4em;
	BACKGROUND-COLOR:#888;
	MARGIN:0em auto;
	WIDTH:766px;
}
#footer A {
	PADDING:0.1em 0.5em;
	MARGIN:0em 1em;
	TEXT-OVERFLOW:ellipsis;
	DISPLAY:inline-block;
	MAX-WIDTH:100px;
	WHITE-SPACE:nowrap;
	COLOR:#fff;
	FONT-SIZE:90%;
	OVERFLOW:hidden;
}
#footer A:visited {
	COLOR:#fff
}
